/***************
** COULEURS
***************/

$noir: #111;
$blanc: #f8f8f8;
$gris: #888;
$gris-pale: lighten($gris, 35%);
$gris-fonce: darken($gris, 30%);
$vert: darkslategray;
$vert-pale: lighten($vert, 15%);

/***************
** GÉNÉRAL
***************/

html {
    box-sizing: border-box;
    color: $blanc;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $blanc;
}

a {
    background-color: $gris-pale;
    color: $noir;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.25em 0.75em;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

a:hover {
    background-color: $gris;
}

::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    background: $gris-pale;
}

::-webkit-scrollbar-thumb {
    background: $gris;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#app[v-cloak] {
    opacity: 0;
}

/***************
** ACCUEIL
***************/

#accueil {
    width: 1200px;
    height: 850px;
    background-color: $gris-fonce;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/***************
** LECTEUR
***************/

#lecteur {
    width: 1200px;
    height: 850px;
    background-color: $gris-fonce;
    border-radius: 10px;

    .entete {
        height: 125px;
        padding: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border-bottom: 2px solid $noir;

        .barre-recherche {
            background-color: $gris-pale;
            font-size: 1.5rem;
            padding: 0.2em 0.4em;
            border-radius: 6px;
        }
    }

    .liste-chansons {
        height: 550px;
        font-size: 1.5rem;
        overflow-y: auto;
        border-top: 2px solid $gris-pale;
        border-bottom: 2px solid $gris-pale;

        .chanson {
            font-size: 1.25rem;
            display: flex;
            padding: 1em;
            border-bottom: 1px solid $gris;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: $vert;
                font-size: 1.5rem;
            }

            .titre {
                width: 55%;
            }

            .artiste {
                width: 40%;
            }

            .temps {
                width: 5%;
            }

        }

        .chanson-active {
            background-color: $vert-pale;
            font-size: 1.5rem;
        }
    }

    .informations {
        height: 175px;
        display: flex;
        padding: 1.25em;
        display: flex;
        justify-content: space-between;

        .controles {
            width: 800px;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .progression {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;

                .barre-progression {
                    width: 100%;
                    height: 7px;
                    background-color: $gris-pale;
                    margin: 0 1rem;
                }

                .barre-progression-remplie {
                    height: 100%;
                    background-color: $vert-pale;
                    width: 0;
                }

                .temps-actuel,
                .temps-total {
                    width: 35px;
                }
            }

            .material-symbols-outlined {
                color: lighten(firebrick, 10%);
                font-size: 80px;
                display: flex;
                justify-content: center;
                cursor: pointer;
            }

        }

        .barre-volume {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            input[type="range"] {
                width: 100%;
                height: 10px;
                background-color: $gris-pale;
                border-radius: 5px;
                appearance: none;
                margin: 0 1rem;

                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    background-color: $vert-pale;
                    border-radius: 50%;
                    cursor: pointer;
                }

                &::-moz-range-thumb {
                    width: 20px;
                    height: 20px;
                    background-color: $vert-pale;
                    border-radius: 50%;
                    cursor: pointer;
                }

            }

            .pourcentage-volume {
                margin-top: 0.5rem;
            }
        }
    }
}